.nav-container {
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end; /* This aligns the bottoms of all items */
  gap: 20px;
  background-color: white;
}

.nav-button {
  width: 220px;
  height: 160px;
  border: black;
  border-style: solid;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.nav-button:hover {
  transform: translateY(-5px);
}

.home-button {
  background-color: #CFF468; /* Light green */
}

.about-button,
.sponsor-button,
.contact-button {
  background-color: #6cceff; /* Light blue */
}

.nav-button img {
  width: 90px; /* Size of the icon images */
  height: 74px;
  margin-bottom: 10px;
}

.nav-button p {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #333;
  margin: 0;
}

.logo-and-tickets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px; /* Spacing for the central element */
}

.rooster-logo {
  width: 150px; /* Size of the rooster logo */
  height: auto;
  margin-bottom: 10px;
}

.book-tickets-button {
  width: 225px;
  height: 50px;
  background-color: #ec5e5e;
  color: white;
  border: 2px solid black; /* This gives a solid black border */
  border-radius: 25px; /* This sets the border-radius to match the nav-buttons */
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.book-tickets-button:hover {
  transform: translateY(-5px);
}